@import "~bootstrap/scss/bootstrap";

body {
  background-color: lightblue;
}

.hide {
  display: none;
}

.categoryCard {
  width: 48%;
  height: 100px;
  margin: .1%
}

.typeCard {
  width: 23%;
  height: 100px;
  margin: .1%
}